.orderModal {
  position: relative;
}

/* Модалка заказа */
.orderModalWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  gap: 15px;
  border-radius: 10px;
  padding: 15px;
  width: 95vw;
  align-self: center;
  max-height: 85vh;
}

.orderModalWrapperContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: start;
  overflow: auto;
  scrollbar-width: none;
}

.orderModalWrapperContent::-webkit-scrollbar {
  display: none;
  /* Chrome/Safari/Edge */
}

/* Кнопка закрытия модалки */
.orderModalCloseBtn {
  position: absolute;
  right: 10px;
  top: 5px;
  background: transparent;
  border: none;
  color: #222;
  font-size: 1.5rem;
  line-height: 1;
  cursor: pointer;
  z-index: 20;
  padding: 5px;
  background-color: var(--color-white);
  border-radius: 5px;
  z-index: 198;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orderModalCloseBtn:hover {
  color: var(--primary-brand);
}

.orderModalCloseBtn:focus {
  outline: 2px solid var(--primary-brand);
  outline-offset: 4px;
}

.orderProductWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: var(--color-white);
  box-shadow: none;
}

.orderProductImage {
  background-color: var(--color-white);
}

.orderProductStatsWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: var(--color-white);
  z-index: 90;
}

.orderProductStats {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.orderProductStatsInner {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content min-content min-content min-content;
  width: 100%;

  h3 {
    grid-row: 1;
    grid-column: 1/-1;
  }
}

.orderProductSubTitle {
  display: none;
}

.orderProductPurpose {
  grid-row: 3;
  grid-column: 1/-1;
}

.orderLogoBrand {
  display: flex;
  gap: 20px;
  align-items: center;
  z-index: 91;
  position: sticky;
  top: 0px;
  background-color: var(--color-white);

  svg {
    width: 60px;
    height: 40px;
  }
}

.hidden {
  display: none;
}

.block {
  display: block;
}

.orderProductPrice {
  font-size: 20px;
  justify-self: end;
}

.orderFeatureToggleWrapper {
  display: flex;
  gap: 10px;
  align-items: center;
}

.orderProductSpecifBtn {
  display: inline-flex;
  align-items: center;
  gap: 5px;

  width: min-content;
  min-height: 35px;
  max-height: 40px;
  padding-left: 5px;
  background: transparent;
  border-radius: 4px;
  background: linear-gradient(
    180deg,
    var(--primary-brand),
    oklch(0.51 0.18 264.13)
  );
  overflow: hidden;
  text-decoration: none;
  color: var(--color-white);
  cursor: pointer;
  font-size: 0.9rem;
  transition: color 0.2s ease;

  svg {
    fill: var(--color-white);
  }
}

.orderIconArrow {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  height: 100%;
  background-color: #ffffff21;
}

.orderIconArrowDown {
  transform: rotate(0deg);
}

.orderIconArrowUp {
  transform: rotate(180deg);
}

.orderProductPrice {
  margin: 0;
  color: var(--primary-brand);
  font-weight: 600;
  font-size: 20px;
}

@media (width <= 620px) {
  .orderModalWrapper {
    padding: 30px;
  }
}

@media (width >= 640px) {
  .orderProductStatsWrapper {
    flex-direction: row;
    gap: 28px;
    padding-bottom: 1lh;
  }

  .orderProductSubTitle {
    display: block;
    grid-row: 2;
    grid-column: 1/-1;
  }

  .orderProductImage {
    img {
      width: 100%;
      max-width: 600px;
    }
  }
}

/* Адаптив */
@media (min-width: 768px) {
  .orderProductWrapper {
    flex-direction: row;
    gap: 16px;
    align-items: start;
    min-width: 100%;
  }
}

@media (min-width: 920px) {
  .orderModalWrapper {
    width: 80vw;
    max-height: 95vh;
    min-height: 80vh;
    justify-content: space-around;
  }
}

@media (min-width: 1200px) {
  .orderModalWrapper {
    max-width: 80vw;
    min-height: 65vh;
  }

  /* .orderModalWrapperContent {
    min-height: 100%;
  } */
}

@media (min-width: 1300px) {
  .orderModalWrapper {
    max-width: 50vw;
  }

  .orderLogoBrand {
    svg {
      width: 100px;
      height: 40px;
    }
  }
}
