.advantages {
    position: relative;
}

.advantageItem {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    h3 {
        color: var(--color-cyan-700);
    }

    svg {
        fill: var(--color-cyan-700);
        width: 60px;
        height: 60px;
    }

}