:root {
  --primary-grey: #dbdbdb;
  --primary-brand: #0969da;

  --swiper-pagination-color: var(--primary-brand);
}

.swiper-button-prev,
.swiper-button-next {
  padding: 5px;
  border-radius: 50%;
  border: 1px solid var(--primary-brand);
}

.swiper-button-next:hover,
.swiper-button-prev:hover {
  background-color: var(--primary-brand);

  .swiper-navigation-icon {
    color: white;
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.container {
  @media (width >=96rem) {
    max-width: 85rem;
  }
}

/* .no-scrollbar:: {
  -ms-text-overflow-style: none;
  scrollbar-width: no;
} */

html {
  scroll-behavior: smooth;
}

body {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@import "tailwindcss";

input,
select,
textarea {
  &:hover {
    border-color: #7d7b7b;
  }
}